@import "tailwindcss";
/* Dark mode support for DaisyUI is disabled for now */
@plugin "daisyui" {
    themes: light --default, cupcake;
}

@theme {
  --color-background: #fff; /* White background */
  --color-text: #000; /* Black text */
  --color-border: #ccc; /* Light gray border for separation */
}

body {
  @apply bg-background text-text;
  font-family: system-ui, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));